.header-bg {
    background-color: rgb(240, 231, 216);
}

.footer-bg {
    color: rgb(240, 231, 216);
    background-color: black;
    padding: 10px;
    font-size: 17px;
}

.btn-header {
    background-color: rgb(130, 55, 6);
    color:white;
}
.btn-header:hover {
    background-color: rgb(95, 114, 37);
    color:white;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

html,
body {
    height: 100%;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
}
